@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
    font-family: 'Lato', sans-serif;
}

:root {
    color: red !important;
}

main {
    max-width: 1500px;
    min-height: calc(100vh - 240px);
    margin: 0 auto;
}